.card{
    display: flex;
    padding: auto;
    margin: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
    border-image: linear-gradient(80deg, #1d9ad1, #5b79bc, #934a9c, #a62591) 1;
    height: 450px;
    width: 475px;
    cursor: pointer;

}
.card:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardDetails{
    display: flex;    
    padding: 10px;
    margin: auto;
    border: 5px solid;
    border-image: linear-gradient(80deg, #1d9ad1, #5b79bc, #934a9c, #a62591) 1;
    height: auto;
    width: 650px;
    text-align: center;
  }



.card-img-top{
    width: auto;
    height: 250px;
    }
